.addselect {
  margin-top: 10px;
  font-size: 0.9rem;
}

.dropdown {
  cursor: pointer;
  color: white;
  background-color: #a770d5;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-property: background-color;
}
.dropdown:hover {
  background-color: #7227b0;
}

.select {
  margin-top: 3px;
  border: 1px #7227b0 solid;
  border-radius: 10px;
  padding: 0.2rem 0.5rem;
  position: absolute;
  background-color: white;
  cursor: pointer;
}

.select > div:hover {
  background-color: #7227b0;
  color: white;
  border-radius: 3px;
}

.divider {
  margin: 0 7px;
  border-left: 2px solid white;
}
