.captionsbytag {
  display: flex;
  height: 100vh;
  width: 100vw;
}
.captionsbytag > :first-child {
  background-color: #7227b0;
  color: white;
  text-align: center;
  overflow: auto;
  min-width: 150px;
}
.captionsbytag > :last-child {
  overflow: auto;
  align-content: flex-start;
  display: flex;
  align-items: center;
  flex-flow: wrap;
  justify-content: center;
}

p {
  cursor: pointer;
  padding: 0.8rem 0;
}
p:first-child {
  border-bottom: 2px solid white;
}
