@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: unset;
}
a:active {
  color: #ff5722;
}
body {
  font-family: Montserrat;
}
